
$grid-gutter-width: 24px !default;

// Bootstrap
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

@keyframes placeHolderShimmer{
  0%{
    background-position: -400px 0
  }
  100%{
    background-position: 400px 0
  }
}

@mixin fb-bg {
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 400px 100%;
    position: relative;
    overflow: hidden;
}


@media (min-width: 1240px) {
  .container {max-width: 1224px;}
}


.main {min-height: calc(100vh - 360px);}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
hr {
  border-top: 0;
  border-bottom: 1px solid #EBF1F5;
  margin: 0;
}
a {
  color: #242729;
  display: inline-block;
  &:hover {
    color: #242729;
  }
  &:focus {outline: none;}
}
input {padding: 8px;}
button {
  background: transparent;
  border: none;
  font-size: 14px;
  &:focus {outline: none;}
}
.btn {
  border: 1px solid #000;
  color: #000;
  background: transparent;
  border-radius: 3px;
  padding: 8px 16px;
  text-align: center;
}
.btn-red {
  background: #F44E4E;
  border-color: #F44E4E;
  color: #fff;
}
.btn-delete {
  background-image: url('../img/ico-delete.svg');
  width: 24px;
  height: 24px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
.ico-login {background-image: url('../img/ico-login.svg');}
.ico-fb {background-image: url('../img/ico-fb.svg');}
.ico-gp {background-image: url('../img/ico-gp.svg');}
.ico-bag {background-image: url('../img/ico-bag.svg');}
.ico-delete {background-image: url('../img/ico-delete.svg');}

.checkbox {
  /* Base for label styling */
  [type="radio"]:not(:checked),
  [type="radio"]:checked,
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label,
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  /* checkbox aspect */
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before,
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0; bottom: 0;
    margin: auto;
    width: 18px; height: 18px;
    border: 1px solid #C4C9CC;
    border-radius: 3px;
    background: #fff;
  }
  [type="radio"]:not(:checked) + label:before,
  [type="radio"]:checked + label:before {
    border-radius: 50%;
  }
  /* checked mark aspect */
  [type="checkbox"]:checked + label:after {
    content: '';
    background: url("../img/ico-check.svg") no-repeat center #31CC74;
    background-size: 10px 8px;
    border: 1px solid #31CC74;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    margin: auto;
    transition: all .2s;
  }
  [type="radio"]:checked + label:before {
    background: #31CC74;
    border-color: #31CC74;
  }
  [type="radio"]:checked + label:after {
    content: '';
    background: rgb(249, 198, 197);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0; left: 6px; bottom: 0;
    margin: auto;
    transition: all .2s;
  }
  [type="radio"]:not(:checked) + label:after,
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="radio"]:checked + label:after,
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #eee;
  }
  /* hover style just for information */
  label:hover:before {
    border: 1px dotted #31CC74;
  }
}

.search {
  max-width: 392px;
  width: 100%;
  height: 40px;
  border: 1px solid #C4C9CC;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  input {
    width: 100%;
    border: none;
    height: 38px;
    background: transparent;
  }
  button {
    position: absolute;
    right: -1px;
    top: -1px;
    height: 40px;
    border-radius: 0px 3px 3px 0px;
  }
  @media(max-width:991px) {
    max-width: 320px;
  }
}

.page-title {
  margin-top: 31px;
  margin-bottom: 31px;
  text-align: center;
  &.left {text-align: left;}
  .title {
    font-size: 24px;
    font-weight: normal;
    color: #242729;
    margin: 0;
  }
  .sub-title {
    color: #677075;
    font-size: 14px;
    margin: 14px 0 0;
  }
}
.block-title {
  background: #FAF9F5;
  text-align: center;
  font-size: 24px;
  color: #242729;
  padding: 24px 0 0;
  margin: 0;
}

.search-result {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 1px;
  background: #fff;
  box-shadow: 0px 8px 12px rgba(178, 178, 178, 0.15);
  border-radius: 0px 0px 3px 3px;
  z-index: 10;
  color: #242729;
  padding-top: 16px;
  padding-bottom: 20px;
  .count {
    display: inline-block;
    background: #EBF1F5;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    width: 32px;
    margin-left: 16px;
    margin-right: 8px;
  }
  ul {
    list-style: none;
    padding: 16px;
    a {
      &:hover {
        color: #F44E4E;
        text-decoration: none;
      }
    }
  }
  .actions {
    border-bottom: 1px solid #EBF1F5;
    max-height: 306px;
    overflow-y: auto;
    li {display: block;}
    .image {
      margin-right: 20px;
      margin-bottom: 8px;
      padding: 5px;
      display: inline-block;
    }
    img {
      width: 46px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }
    .title {
      font-size: 14px;
    }
  }
  .shops {
    li {
      display: inline-block;
    }
    .image {
      display: block;
      padding: 8px 16px;
      margin-right: 50px;
      &:hover {box-shadow: 0px 4px 12px rgba(204, 202, 192, 0.25);}
    }
    img {
      width: 120px;
      height: 40px;
      object-fit: cover;
      object-position: center;
    }
  }
}
.search-result-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* -------------- Page blocks ---------------- */
.header {
  border-bottom: 1px solid #EBF1F5;
  .container {
    @media(min-width:768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    padding: 12px 0;
    position: relative;
  }
  .logo {
    display: inline-block;
    width: 118px;
    height: 40px;
    background: url('../img/logo.svg') no-repeat center;
    background-size: contain;
  }
  a, button {
    font-size: 14px;
  }
  .logo, .city-select {
    color: #242729;
    line-height: 40px;
    vertical-align: middle;
    margin-right: 50px;
    @media(max-width:991px) {margin-right: 20px;}
  }
  .login {
    .ico {margin-bottom: 2px;}
  }
  @media(max-width:767px) {
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 14px;
    }
    .search {
      margin: auto;
      max-width: 360px;
    }
    .righ {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
    }
  }
}
.city-select {
  padding-right: 16px;
  text-align: left;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    width: 10px;
    height: 6px;
    background: url('../img/ico-down.svg') no-repeat center;
    background-size: contain;
  }
}


.home-page {
  .slider {
    background-color: #FFD447;
    background-image: url('../img/dekor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
      padding: 0;
    }
    .wrap {
      display: flex;
      justify-content: space-between;
      @media (max-width: 1199px) {
        .shop:nth-of-type(5) {display: none;}
      }
      @media (max-width: 991px) {
        .shop:nth-of-type(4) {display: none;}
        .shop:nth-of-type(3) {display: none;}
      }
      @media (max-width: 767px) {
        .shop:nth-of-type(2) {display: none;}
      }
      @media (max-width: 400px) {
        .shop:nth-of-type(1) {display: none;}
        justify-content: center;
      }
      .shop:last-child {
        display: block;
      }
    }
    a {
      width: 100%;
    }
    .shop {
      width: 184px;
      height: 280px;
      background: #FFFFFF;
      border-radius: 3px;
      padding: 16px;
      a:hover {text-decoration: none;}
      .image {
        height: 120px;
        margin-bottom: 20px;
        img {
          max-width: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          height: 120px;
        }
      }
      .count {
        display: inline-block;
        background: #EBF1F5;
        border-radius: 3px;
        min-width: 32px;
        text-align: center;
        padding: 2px;
      }
      p {
        font-size: 14px;
        color: #677075;
        margin: 0 0 8px;
      }
      .discount {
        font-size: 12px;
        line-height: 14px;
        color: #242729;
        margin-top: 24px;
        .number {
          display: inline-block;
          font-size: 18px;
          color: #242729;
          margin-left: 10px;
        }
      }
      .ico {
        display: block;
        width: 43px;
        height: 48px;
        margin: 24px auto 20px;
      }
      .title {
        display: block;
        text-align: center;
        color: #242729;
        font-size: 18px;
        margin-bottom: 7px;
      }
      .gray {
        display: block;
        color: #677075;
        font-size: 14px;
        text-align: center;
        margin-bottom: 36px;
      }
      .btn {
        width: 100%;
        margin: 24px 0 0;
      }
    }

    &.show-all-shops {
      padding-bottom: 60px;
      .container {
        overflow-y: auto;
        max-height: 420px;
      }
      .wrap {
        flex-wrap: wrap;
        justify-content: space-around;
        .shop {
          display: block;
          margin-bottom: 20px;
          @media (max-width: 400px) {
            margin: 0 10px 20px;
          }
        }
      }
    }
  }
}

.pagination-row {
  padding-top: 16px;
  text-align: center;
  .pagination {
    margin-top: 32px;
    display: block;
    list-style: none;
    padding: 0;
    text-align: left;
    li {
      display: inline-block;
      margin: 8px;
      text-align: center;
      a {
        border: 1px solid #C4C9CC;
        border-radius: 3px;
        padding: 8px;
        min-width: 40px;
        text-decoration: none;
      }
      &.active a {
        background-color: #F44E4E;
        border-color: #F44E4E;
        color: #fff;
      }
      &.disabled a {
        background-color: #C4C9CC;
        cursor: default;
      }
      &.prev.disabled, &.next.disabled {display: none;}
    }
  }
}

.product {
  overflow: hidden;
  a {width: 100%;}
  .image {
    width: 100%;
    text-align: center;
    display: block;
    height: 152px;
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      max-width: 100%;
    }
  }
  .title {
    padding: 0 16px;
    display: block;
    font-size: 18px;
    line-height: 21px;
    color: #242729;
    max-height: 64px;
    overflow: hidden;
  }
  .desc {
    padding: 0 16px;
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #242729;
  }
  .tara {
    padding: 0 16px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #677075;
  }
  .prices {
    .new {
      display: inline-block;
      width: 48%;
      font-size: 24px;
      line-height: 28px;
      color: #242729;
      padding-left: 16px;
      sup {font-size: 14px;}
    }
    .old {
      display: inline-block;
      // width: 48%;
      font-size: 18px;
      line-height: 21px;
      color: #677075;
      text-decoration: line-through;
    }
    .old-price {
      font-size: 10px;
      line-height: 21px;
      color: #677075;
    }
  }
  .sticker {
    margin: 10px 0 40px;
    display: inline-block;
    background: #31CC74;
    padding: 4px 16px;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 8px 14px 0;
      border-color: transparent #ffffff transparent transparent;
    }
    &.last {background: #FFBA1A;}
  }
}
.products {
  background: #FAF9F5;
  padding-top: 30px;
  padding-bottom: 40px;
  @media(min-width:768px) {
    .container {padding: 0;}
  }
  .item {
    background: #FFFFFF;
    border: 1px solid #F0EFEB;
    border-radius: 3px;
    padding: 0;
    margin-bottom: 24px;
    height: calc(100% - 24px);
    &:hover {box-shadow: 0px 4px 12px rgba(204, 202, 192, 0.25);}
    a:hover {text-decoration: none;}
    hr {
      display: block;
      margin: 8px 16px;
    }
    .shop {
      overflow: hidden;
      .image {
        float: left;
        width: 50%;
        text-align: center;
        img {
          object-fit: cover;
          object-position: center;
          height: 50px;
        }
      }
      .right {
        float: left;
        width: 50%;
        padding-top: 14px;
        padding-right: 14px;
        .discount {
          font-size: 12px;
          color: #242729;
          span {font-size: 18px;}
        }
        .dates {
          font-size: 10px;
          line-height: 11px;
          color: #677075;
        }
      }
    }
  }
}

.product-page {
  .block-title {
    padding: 50px 0 0;
    text-align: left;
    font-size: 18px;
    margin-bottom: -30px;
  }
  .product-item {
    background: #fff;
    border: 1px solid #F0EFEB;
    border-radius: 3px;
    padding: 8px 24px 65px;

    .shop {
      overflow: hidden;
      .image {
        display: inline-block;
        text-align: center;
        img {
          object-fit: cover;
          object-position: center;
          height: 50px;
        }
      }
      .right {
        padding-left: 30px;
        display: inline-block;
        .discount {
          font-size: 12px;
          color: #242729;
          span {font-size: 18px;}
        }
        .dates {
          font-size: 10px;
          line-height: 11px;
          color: #677075;
        }
      }
    }

    .image, .right {display: inline-block;}
    .product {
      img {
        max-width: 100%;
      }
      .title {
        padding: 0;
        margin: 20px 0 10px;
      }
      .desc {
        padding: 0;
      }
      .tara {
        padding: 0;
        margin: 10px 0;
      }
      .prices {
        margin-top: 10px;
        padding: 0;
        .new {
          padding: 0;
          width: auto;
          padding-right: 20px;
        }
        .old {
          width: auto;
        }
      }
      .sticker {
        margin: 10px 0;
      }
    }
    &.loading {
      .shop {
        .image {
          width: 100px;
          height: 50px;
          @include fb-bg;
        }
      }

    }
  }
}

.top-filter {
  padding: 0 0 24px 0;
  .filter {
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(178, 178, 178, 0.15);
    border-radius: 3px;
    .first-line {
      padding: 16px;
      @media(min-width:768px) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .btn {
    width: 256px;
    padding: 9px 16px;
    border: 1px solid #C4C9CC;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    position: relative;
    span {
      font-size: 12px;
      color: #677075;
      padding-left: 8px;
    }
  }
  button.active {
    background: #31CC74;
    border-color: #31CC74;
    color: #fff;
  }
  .btn-select {
    width: 256px;
    padding: 9px 16px;
    border: 1px solid #C4C9CC;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 16px;
      top: 17px;
      width: 10px;
      height: 6px;
      background: url('../img/ico-down.svg') no-repeat center;
      background-size: contain;
    }
  }
  .select {
    position: relative;
    ul {
      position: absolute;
      left: 0; right: 0;
      top: 100%;
      list-style: none;
      z-index: 10;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #C4C9CC;
      box-shadow: 0px 8px 12px rgba(178, 178, 178, 0.15);
      padding: 0;
      li {
        padding: 6px 0 6px 16px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
  .shops {
    display: none;
    padding: 0 16px 32px 16px;
    &.open {display: block;}
    .inner {
      border: 1px solid #EBF1F5;
      box-sizing: border-box;
      border-radius: 3px;
    }
    ul {
      list-style: none;
      margin: 0;
      max-height: 244px;
      overflow-y: auto;
      padding: 0;
      li {
        display: block;
        margin: 11px 0;
        padding-left: 16px;
        width: 100%;
      }
    }
  }
  .search {
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #EBF1F5;
    height: 48px;
    input {
      padding: 15px;
      height: 48px;
    }
    .ico-delete {
      width: 16px;
      height: 16px;
      right: 20px;
      top: 16px;
    }
  }
  .result {
    overflow: hidden;
    .shop-selected {
      position: relative;
      display: inline-block;
      margin: 30px 8px 0;
      background: #FFFFFF;
      border: 1px solid #EBF1F5;
      border-radius: 3px;
      padding: 2px 36px 2px 8px;
      height: 46px;
      line-height: 44px;
      img {
        width: 100px;
        height: 36px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 4px;
      }
      .btn-delete {
        position: absolute;
        right: 6px;
        top: 10px;
      }
    }
    .btn-red {
      width: 152px;
      float: right;
      margin-top: 30px;
      margin-right: 10px;
    }
  }
}

footer {
  margin-top: 14px;
  background: #FAF9F5;
  box-shadow: 0px 0px 10px rgba(219, 217, 206, 0.35);
  border-top: 1px solid #F0EFEB;
  .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .first-line {
    padding-bottom: 60px;
    @media(min-width:768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .left-menu {
    max-width: 600px;
    width: 100%;
    @media(max-width:767px) {
      padding-bottom: 40px;
      a {
        margin-bottom: 14px;
        display: block;
        text-align: center;
      }
    }
    @media(min-width:768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .socials {
    text-align: center;
    p {
      font-size: 12px;
      color: #242729;
      margin: 0 0 20px;
    }
    .ico {
      width: 32px;
      height: 32px;
      margin: 0 12px;
    }
  }
  .copyright {
    font-size: 12px;
    line-height: 14px;
    color: #677075;
  }
}

.city-modal {
  input {
    width: 100%;
  }
  .cities {
    .city {
      display: inline-block;
      width: 48%;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}


.form {
  padding-top: 40px;
  .form-field {
    max-width: 344px;
    width: 100%;
    margin: 0 auto 16px;
    position: relative;
  }
  input {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #C4C9CC;
    border-radius: 3px;
  }
  textarea {
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #C4C9CC;
    border-radius: 3px;
    padding: 8px;
  }
  button {
    margin-top: 8px;
    background: #F44E4E;
    border-radius: 3px;
    text-align: center;
    padding: 10px 40px;
    color: #fff;
  }
  .error {
    @media(min-width:768px) {
      position: absolute;
      left: 100%;
      top: 0;
    }
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(196, 201, 204, 0.35);
    border-radius: 3px;
    font-size: 12px;
    padding: 7px 14px;
    margin-left: 8px;
    white-space: nowrap;
    margin-top: 4px;
  }
}

.sorry {
  text-align: center;
  font-size: 18px;
  width: 100%;
}

.dropdown {
  position: relative;
  .dropdown-block {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    z-index: 12;
    display: none;
    background: #FFFFFF;
    border: 1px solid #F0EFEB;
    box-shadow: 0px 4px 12px rgba(204, 202, 192, 0.25);
    border-radius: 3px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 158px;
    overflow-y: auto;
    li {
      a {
        width: 100%;
        padding: 5px 14px;
      }
    }
  }
  .btn {
    &.open + .dropdown-block {display: block;}
  }
}